h1,
h3{
    text-align: center;
}
h1{
    color: #00ff00;
}
.test{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}
#out_num,
#out_num1,
#out_num2,
#out_num3,
#out_num4,
#out_num5 {
    text-align: center;
}
#out_num {
    border: 1px solid #00ff00;
    padding: 5px 0;
}